[default_upgrade]
name = "Coal Refinery"
build_costs = [
    { material = "ConstructionMaterials", cost = 50 }
]

[[default_upgrade.production_channels]]
power = 3
rate = 120
inputs = [
    { material = "Coal", value = 200 }
]
outputs = [
    { material = "Coke", value = 180 }
]

[upgrades."Coke Furnace"]
name = "Coke Furnace"
build_costs = [
    { material = "ConstructionMaterials", cost = 200 }
]

[[upgrades."Coke Furnace".production_channels]]
power = 3
rate = 120
inputs = [
    { material = "Coal", value = 200 },
]
outputs = [
    { material = "Coke", value = 165 },
    { material = "Sulfur", value = 15 }
]

[upgrades."Coal Liquefier"]
name = "Coal Liquefier"
build_costs = [
    { material = "ProcessedConstructionMaterials", cost = 200 }
]

[[upgrades."Coal Liquefier".production_channels]]
power = 4
rate = 120
inputs = [
    { material = "Coal", value = 300 },
    { material = "Water", value = 75 },
]
outputs = [
    { material = "ConcreteMaterials", value = 1 },
    { material = "Oil", value = 50 }
]

[upgrades."Advanced Coal Liquefier"]
name = "Advanced Coal Liquefier"
build_costs = [
    { material = "SteelConstructionMaterials", cost = 200 }
]

[[upgrades."Advanced Coal Liquefier".production_channels]]
power = 4
rate = 120
inputs = [
    { material = "Coal", value = 300 },
    { material = "Water", value = 150 },
]
outputs = [
    { material = "Coke", value = 260 },
    { material = "HeavyOil", value = 60 }
]