[default_upgrade]
name = "Oil Refinery"
build_costs = [
    { material = "ConstructionMaterials", cost = 50 }
]

[[default_upgrade.production_channels]]
power = 1
rate = 150
inputs = [
    { material = "Oil", value = 150 }
]
outputs = [
    { material = "Petrol", value = 150 }
]

[upgrades."Reformer"]
name = "Reformer"
build_costs = [
    { material = "ConstructionMaterials", cost = 200 }
]
parent = "Oil Refinery"

[[upgrades."Reformer".production_channels]]
power = 1
rate = 150
inputs = [
    { material = "Oil", value = 120 },
    { material = "Water", value = 30 }
]
outputs = [
    { material = "Petrol", value = 150 }
]

[upgrades."Cracking Unit"]
name = "Cracking Unit"
build_costs = [
    { material = "ProcessedConstructionMaterials", cost = 20 }
]
parent = "Oil Refinery"

[[upgrades."Cracking Unit".production_channels]]
power = 1.5
rate = 160
inputs = [
    { material = "Oil", value = 150 },
]
outputs = [
    { material = "HeavyOil", value = 90 }
]

[upgrades."Petrochemical Plant"]
name = "Petrochemical Plant"
build_costs = [
    { material = "SteelConstructionMaterials", cost = 25 }
]
parent = "Oil Refinery"

[[upgrades."Petrochemical Plant".production_channels]]
power = 6
rate = 200
inputs = [
    { material = "Sulfur", value = 60 },
    { material = "HeavyOil", value = 30 }
]
outputs = [
    { material = "EnrichedOil", value = 30 }
]
